<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Sayan's Online Resume</title>

		<link rel="stylesheet" href="assets/reset.css">
		<link rel="stylesheet" href="assets/reveal.css">
		<link rel="stylesheet" href="assets/theme/black.css" id="theme">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<style>
			.reveal i.fa { font-family:FontAwesome; font-style: normal; }
			span.icon {margin-left: 11px;;}
			/*a span.icon:hover {color:red;font-size: 150%; !important}*/
			div.social-bar {margin-top: 5em;}

			tr.th {font-weight:bolder;font-style:italic; font-size: 110%;}

			.bigarrow {font-size: 200% !important;}

			table tr td{font-size:80% !important;border: none !important; }
			table.fullsize tr td{font-size:100% !important;}
			table.noborder {border: none !important;}

			table.skillset tr:nth-child(even) {background: #033b01;}

			p.alt-colors span:nth-child(even) {color: #d88d00;}
			p.alt-colors span:nth-child(odd) {color: #07b100;}

			span.green {color: #d88d00;}
			span.orange {color: #07b100;}
		</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section id="welcome" class="slide"><%- await include(`partials/welcome`, { data }) %></section>

				<section id="intro" class="slide" data-transition="zoom" data-background="#011917" data-background-transition="zoom"><%- await include(`partials/intro`, { data }) %></section>

				<section id="portfolio" class="slide"><%- await include(`partials/portfolio`, { data }) %></section>

				<section id="floss" class="slide" data-transition="concave" data-background="#011917" data-background-transition="zoom"><%- await include(`partials/floss`, { data }) %></section>

				<section id="employment" class="slide"><%- await include(`partials/employment`, { data }) %></section>

				<section id="skills" class="slide" data-transition="convex" data-background="#071a07" data-background-transition="zoom"><%- await include(`partials/skills`, { data }) %></section>

				<section id="soft" class="slide" data-transition="zoom" data-transition-speed="slow"><%- await include(`partials/soft`, { data }) %></section>

				<section id="contact" class="slide" data-background="#071a07" data-background-transition="slide" data-transition="concave"><%- await include(`partials/contact`, { data }) %></section>

			</div>
		</div>

		<script src="assets/reveal.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				width: 1080,
				height: 960,
				margin: 0.1,
				//      minScale: 1.0,
				//      maxScale: 1.0,
				transitionSpeed: 'slow',
			});
		</script>
	</body>
</html>
